.body {
    overflow: hidden;
}

.bi-tools {
    font-size: 200px;
}

.bi-patch-check {
    font-size: 200px;
}

.bi-bookmark-check {
    font-size: 200px;
}

.home-card {
    margin: 15px 15px;
}

.footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 10px;
}

@media (max-width: 680px) {
    .navbar-social-links {
        justify-content: center;
    }
    .showcase-text {
        text-align: center;
    }
    .bi-tools {
        font-size: 150px;
        padding: 10px 10px;
    }
    .news-panel{
        padding: 15px 15px;
    }
    .bi-patch-check {
        font-size: 150px;
        padding: 10px 10px;
    }
    .dev-program-text {
        text-align: center;
    }
    .author-image {
        visibility: hidden;
    }

    .announcement-title {
        font-size: x-small;
    }
}